<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <center><h2> Your secret is safe with us </h2></center>

    <div class="content">
      <form action='/spots' method='post'>

     <h4>Tell us about your sightseeings</h4><br>
       <p><label>Name:</label><br>
       <input type="text" name="name" placeholder="The what?"></p>
       <p><label>Location:</label><br>
       <input type="text" name="location" placeholder="The where?"></p>
       <p><label>Time of Visit:</label><br>
       <input type="text" name="time_of_visit" placeholder="The when?"></p>
       <p><label>Rate it:</label><br>
       <input type="text" name="rating" placeholder="out of 10"></p>
       <p><label>Comments:</label><br>
       <input type="text" name="comments" placeholder="the good, the bad and the ugly"></p>

     <input type="submit" value="submit">
     <br>

 </form>
</div>
</div>
</div>
