<center><h2> Your secrets are safe with us </h2>

<form action='/spots' method='post'>

 <h4>Your new Japan Seeing seeing goes here</h4>
 <p><label>Name:</label>
 <input type="text" name="name"></p>
 <p><label>Where?</label>
 <input type="text" name="location"></p>
 <p><label>Time of Visit:</label>
 <input type="text" name="visited"></p>
 <p><label>What do you rate it out of 10?</label>
 <input type="text" name="rating"></p>

 <input type="submit" value="submit">

 </form>
</center>
