<h1> Welcome, <%= current_user.username %></h1>
<% @spots.each do |spot| %>
<h4><a href="/spots/<%=spot.id%>"><%= spot.content %> </a></h4>
<% end %>
<br>
<h3><a href="/spots/new">New Spot</a></h3>
<h3><a href="/users/<%=current_user.slug %>">My Spots</a></h3>
<br>
<p><a href="/logout">Log out</a></p>
