<h1> Japan Seeings </h1>
<p> Where to go? What to see? Is it actually good? So many questions there are</p>
<br>
<h3> Sign up to join the community </h3>
<form method="post" action="/signup">
  <label> Username: </label>
  <input type="text" name="username" id="username">
  <br>
  <label> Email: </label>
  <input type="text" name="email" id="email">
  <label> Password: </label>
  <input type="text" name="password" id="password">
  <input type="submit" id="Sign Up">
</form>
