<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <center>
    <h2>Japan Seeings</h2>
      <p> Where to go? What to see? Is it actually good? So many questions there are.</p></center>

      <div class="content">
      <br>
        <h3> Sign up to join the community </h3>
        <form method="post" action="/signup">
          <p><label> Username: </label><br>
            <input type="text" name="username" id="username"></p>
            <p><label> Email: </label><br>
              <input type="text" name="email" id="email"></p>
              <p><label> Password: </label><br>
                <input type="password" name="password" id="password"></p>
                <p><input type="submit" id="Sign Up"></p>
            </form>
          </div>

    </div>
</div>
