<div class="container">

  <header><center><img src="https://i.imgur.com/7ekLS7T.png" height="75" width="75" class="img-responsive main-image"></center></header>

  <div class="col-md-8 col-md-offset-2">
    <center>
    <h2>Japan Seeings</h2>
    <p> Where to go? What to see? Is it actually good? So many questions there are.</p></center>

    <div class="content">
    <br>
    <h3> Sign up to join the community </h3>
    <form method="post" action="/signup">
      <p><label> Username: </label>
      <input type="text" name="username" id="username"></p>
      <p><label> Email: </label>
      <input type="text" name="email" id="email"></p>
      <p><label> Password: </label>
      <input type="text" name="password" id="password"></p>
      <p><input type="submit" id="Sign Up"></p>
    </form>
    </div>

</div>
</div>
