<h1> Returning, already? </h1>
<br>
<h3> Speak friend and enter </h3>
<form method="post" action="/login">
  <p><label> Username: </label>
  <input type="text" name="username" id="username"></p>
  <br>
  <p><label> Password: </label>
  <input type="text" name="password" id="password"></p>
  <br>
  <p><input type="submit" value="Log In" id="submit"></p>
</form>
<br>
<h4> You can't sit with us (yet) </h4>
<p>Fine, <a href="/signup">sign me</a> up</p>
