<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <center>
    <h2>Japan Seeings</h2></center>

  <div class="col-md-8 col-md-offset-2">

  <div class="content">
    <h3> Returning, already? </h3>
    <h4> Speak friend and enter </h4>
    <br>
    <form method="post" action="/login">
      <p><label> Username: </label>
      <input type="text" name="username" id="username"></p>

      <p><label> Password: </label>
      <input type="text" name="password" id="password"></p>

      <p><input type="submit" value="Log In" id="submit"></p>
    </form>
  </div>

<div class="sidebar">
  <h4> You can't sit with us (yet) </h4>
  <p>Fine, <a href="/signup">sign me</a> up</p>
</div>
</div>
