<div class="container">

  <div class="col-md-8 col-md-offset-2">

    <h2><center>Japan Seeings</center></h2>

    <div class="content">
      <p>A place for anyone that has tried a sip of Japan and gotten addicted to it.<br>
        Japan, as small as it seemingly appears, holds a level of complexity that is hard to grasp.
        If you have been, and you love it, you can store with us all the spots you've visited to help you for future trips.
        We share every spot we add so that new members can plan a fullfiling trip.<br>
        Our spots are not sponsored, they're merely what other members have seen and shared, so you know if they say it's good, it's good.
        If you like, think of us as a "Japan To-Do list".</p>
    </div>

    <div class="sidebar">
      <center>
      <div class="btn-group">
  <a href="/login" class="button">Login</a>
  <a href="/signup" class="button">Register</a>

</div>
</center>

    </div>

  </div>
</div>
